* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

:root {
    --bg-color: #000;
    --text-color-white: #ffffff;
    --text-gray: rgba(255, 255, 255, 0.7);
    --text-color-white: #ffffff;
    --btn-color-blue: #0070f3;
    --btn-color-gray: #1e1e1e;
}

body {
    background-color: var(--bg-color);
    background-image: url(./IMG/elipse.svg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    width: 1139px;
    justify-content: space-between;
    align-items: center;

    & .principal {
        display: flex;
        flex-direction: column;
        gap: 40px;
        color: var(--text-color-white);

        & .content {
            & .h1 {
                font-size: 80px;
                margin-bottom: 30px;
                font-weight: 500;
            }

            & p {
                color: var(--text-gray);
                font-size: 40px;
            }
        }

        & .btns {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            & a {
                font-size: 24px;
                color: var(--text-color-white);
                font-weight: bold;
                padding: 10px 55px;
                border-radius: 10px;
                background-color: var(--text-gray)
            }

            & a:first-child {
                background-color: var(--btn-color-blue);
            }
        }
    }

    & .card {
        background-repeat: no-repeat;
        background-image: url(./IMG/robo.svg);
        width: 390px;
        height: 373px;
        display: flex;
        align-items: flex-end;

        & .info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 17px 20px;
            align-items: center;
            background-color: rgba(43, 43, 43, 30%);
            backdrop-filter: blur(24.37px);
            border-radius: 0px 0px 15px 15px;

        }

        & .content {
            color: #fff;
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 10px;
        }

        & a {
            background: rgba(0, 0, 0, 40%);
            padding: 12px 45px;
            border-radius: 100px;
            color: #fff;
            font-size: 12px;
            font-weight: 700;

        }

    }
}